

/* ==========================================================================
    version mobile
   ========================================================================== */
.navbar {
  width: 100%;
  background: #f56b2a;
  height: 60px;
}

img {
 width: 150px;

}



span {
  color: rgb(245,107,42);
}

p {
  text-align: center;
}

.map {
  margin-top: 10%;
  width: 100%;
}


li {
  text-decoration: none;
}

ul {
  list-style: none;
}

footer {
  width: 100%;
  background: #f2f2f2;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
main p {
  margin: 8em auto 5em auto;
}


aside ul {
  text-align: right;
  top: 75px;
 position: absolute!important;
 font-size: 0.9em;
 text-shadow: 0 0.3px 0.2px;
 right: 38px;
   }



aside ul li a:hover {
  text-decoration: none;
  color: rgb(245,107,42);
     }

/* ==========================================================================
   Helper classes
   ========================================================================== */


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
